
<link rel="stylesheet" href="~/Content/Styles/NavbarStyle.css" />
<link rel="stylesheet" href="~/Content/Site.css" />


<div class="custom-navbar">
    <a href="@Url.Action("Index", "Home")" class="brand">ETTS</a>
    <span>Employee Time Tracking System</span>
</div>