## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.dbmdl

## Test Results
TestResults/

## Logs
*.log

## Temporary files
*.tmp
*.bak

## Web-related
packages/
node_modules/
wwwroot/lib/
